.Q_ButtonIcon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  transition: all 0.2s;
  &.Cross {
    background-image: url('../../icons/CrossBlackDesktop.svg');
    opacity: 40%;
  }
}

.A_Back:hover > .Q_ButtonIcon {
  transform: rotate(180deg);
  transition: all 0.2s;
}

.Q_AvatarIMG {
  width: 40px;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  background-color: gray;
  border-radius: 100%;
  position: absolute;
}
