.A_MiniLogo {
  width: 40px;
  opacity: 40%;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: invert();
  mix-blend-mode: difference;
}

.A_Description {
  grid-row-start: var(--i);
}

.A_Logo {
  width: 100%;
  display: flex;
  grid-column-start: 7;
  grid-column-end: 9;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  background-position: bottom;
  background-size: contain;
  background-image: url('../../images/A_Logo.svg');
}

.O_IndexPreview > .A_H1 {
  grid-column: 1 / -1;
}

.M_IndexGallery > .A_ArticlePreviewIMG {
  margin-bottom: 8px;
  mask-image: none;
}

.M_IndexGallery > .A_ArticlePreviewIMG > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}

.A_Error {
  width: 50vw;
}
.M_Error > h3 {
  color: var(--white);
  max-width: 80%;
  text-align: center;
}

.A_Sandbox {
  height: 100%;
}

.A_ElectricCanvas {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 78%;
  aspect-ratio: 1.88;
  pointer-events: none;
  pointer-events: none;
}

.O_Card > .A_ElectricCanvas {
  width: 100%;
  aspect-ratio: 4 / 3;
  top: 0;
}

.A_MiniLogo.Light {
  background-image: url('../../images/index/mainLogoLight.gif');
}

.A_MiniLogo.Dark {
  background-image: url('../../images/index/mainLogoDark.gif');
}

.A_Description {
  font: var(--font-dscpt);
  color: var(--color-black-40);
  &.Important {
    color: var(--black);
  }
  &.Right {
    grid-column: 16 / 19;
  }
}

.C_Titles > .A_Description + .A_Description {
  padding-left: 50%;
}

.A_Label {
  color: var(--color-black-40);
  &.Important {
    color: var(--black);
  }
  &.White {
    color: var(--white);
  }
}

.O_Card > .A_Label {
  padding: 12px;
}

.M_Label > .A_Label {
  width: 50%;
}

.A_GalleryCardIMG {
  width: 78%;
  background-size: cover;
  aspect-ratio: 1.88;
  mask-image: url('../../images/art-gallery/mask.png');
  mask-size: contain;
  mask-position: center;
  display: block;
  mask-repeat: no-repeat;
}

.A_Lines {
  position: absolute;
  object-position: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  transform: scaleX(-1) rotate(180deg);
  object-fit: cover;
  object-position: bottom left;
  z-index: -1;
}

.M_GalleryCard > .A_GalleryCardIMG:hover {
  border: 4px solid var(--mainGreen);
  box-shadow: 0px 0px 112.2px 0px var(--mainGreen, #d1ff8c) inset;
}

.M_GalleryRecommendation > .A_ElectricCanvas {
  width: 105%;
  height: 105%;
  left: -2.5%;
  top: -2.5%;
}

.A_SearchIMG > .A_ElectricCanvas {
  width: 100%;
  height: 100%;
}

.A_SearchIMG {
  position: relative;
  width: 50%;
  aspect-ratio: 3 / 4;
  mask-image: url('../../images/searchmask.png');
  mask-size: 100% 100%;
}

.A_SearchIMG:hover::after {
  border: 4px solid var(--mainGreen);
  box-shadow: 0px 0px 112.2px 0px var(--mainGreen, #d1ff8c) inset;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
}

.A_SearchIMG > img,
.A_SearchIMG > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.A_Input::placeholder {
  background: rgba(102, 163, 177, 0.01);
}

.A_Input::-webkit-autofill,
.A_Input::-webkit-autofill:hover,
.A_Inputt::-webkit-autofill:focus,
.A_Input-webkit-autofill::active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.M_GalleryCard > .A_GalleryCardIMG {
  align-self: flex-end;
}

.A_Input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font: var(--font-dscpt);
  color: var(--black);
  outline: none;
  border: none;
  position: relative;
  width: 100%;
}

.M_InputWrapper {
  position: relative;
  &.Big {
    width: 100%;
  }
}

.M_InputWrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 32px;
  left: 0;
  background-color: var(--color-black-04);
}

.O_PopUp.Closed > .A_Description,
.O_PopUp.Closed > .A_Label {
  opacity: 0;
}

.M_IndexTutorial > .A_ElectricCanvas {
  width: 100%;
  height: 95%;
  top: 0;
}

.M_VideoPreview > .A_ElectricCanvas {
  width: 70%;
  z-index: 5;
}

.O_PopUp.Closed > .C_PopUpMateirals {
  opacity: 0;
}
.O_PopUp.Closed > .A_Description.Closed,
.O_PopUp.Closed > .A_Label.Closed,
.O_PopUp.Closed > .C_PopUpMateirals.Closed {
  display: none;
}

.A_Button {
  display: flex;
  padding: 1em 1.5em;
  justify-content: center;
  align-items: center;
  position: relative;
  font: var(--font-dscpt);
  border-radius: var(--radius-small);
  background: var(--color-black-20);
  color: var(--black);
  backdrop-filter: blur(18px);
  box-shadow: 0px 0px 0px 0px var(--green) inset;
  transition: all 0.15s ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  &.Active {
    background: var(--green);
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 4px 0px var(--green);
  }
  &:hover {
    box-shadow: 0px 0px 12px 0px var(--green) inset,
      0px 0px 30px 0px var(--green) inset;
    transition: all 0.15s ease-in-out;
  }
  &:hover:after {
    opacity: 0;
  }
  &.Black {
    color: var(--white);
  }
}

.A_MenuButton {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: var(--color-black-40);
  font: var(--font-dscpt);
  border-radius: var(--radius-small);
  width: max-content;
  cursor: pointer;
  text-decoration: none;
  height: max-content;
  &.Selected {
    background-color: var(--green);
    color: var(--black);
  }
}

.A_H3 + .A_H3 {
  padding-left: 15%;
}

.W_ParagraphWithTitle > .A_H3 {
  grid-column: 3 / 19;
}

.A_Burger {
  display: none;
  width: 24px;
  height: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: none;
  background-color: var(--color-black-04);
}

.A_Burger.Active {
  background: none;
}

.A_Back {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0px;
  color: var(--color-black-04);
  font: var(--font-dscpt);
  width: max-content;
  height: max-content;
  cursor: pointer;
  align-items: center;
  left: calc(42px + 4%);
  gap: 10px;
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  &.Filters {
    position: sticky;
    top: 72px;
  }
}

.A_Paragraph {
  color: var(--black);
  font: var(--font-p);
  grid-column: 3 / 15;
  &.Code {
    grid-column: 3 / -1;
  }
  &.ArticleMain {
    grid-column: 1 / 15;
  }
}

.A_NodeBox {
  padding: 40px;
  grid-column: 3 / 19;
  background-color: var(--color-black-08);
  width: 100%;
}

.A_GalleryImg {
  aspect-ratio: 1;
  mask-image: url('../../images/art-gallery/galleryItemMask.webp');
  mask-size: contain;
  mask-position: center;
  object-fit: cover;
  width: 100%;
  &.Big {
    grid-column: span 2;
  }
  &.Small {
    grid-column: span 1;
  }
}

.M_GalleryCard > .A_Label + .A_Label {
  margin-bottom: 12px;
  padding-left: 20%;
}

.A_GalleryRedactionContainer {
  grid-column: 3 / 15;
  aspect-ratio: 3 / 2;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.A_Redaction {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.A_ArticlePreview {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.A_VideoPreview {
  position: relative;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: var(--radius-small);
  background-color: gray;
  mask-image: url('../../images/articles/smallVideoMask.png');
  mask-size: 100% 100%;
  &.Tablet {
    grid-column: 1 / 5;
    position: sticky;
    top: 24px;
    margin-top: 40px;
    display: none;
  }
}
.SO_VideoPreview > .A_ElectricCanvas {
  top: 0;
  width: 100%;
  z-index: 5;
}

.SO_VideoPreview.Mobile > .A_ElectricCanvas {
  display: none;
}

.A_ArticlePreviewIMG {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  mask-size: 100% 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
  mask-image: url('../../images/articles/mask.webp');
  mask-size: 100% 100%;
  mask-position: center;
}
.C_ArticlesRecommendation {
  display: flex;
}

.A_Tag {
  display: flex;
  padding: 0.6em;
  justify-content: center;
  align-items: center;
  position: relative;
  font: var(--font-dscpt);
  border-radius: 180px;
  background: var(--color-black-20);
  color: var(--white);
  backdrop-filter: blur(18px);
  box-shadow: 0px 0px 0px 0px var(--green) inset;
  transition: all 0.15s ease-in-out;
  border: 1px solid var(--green);
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 180px;
    box-shadow: 0px 0px 4px 0px var(--green);
  }
}

@media (max-width: 1280px) {
  .A_Back.Filters {
    position: relative;
    left: unset;
    top: 0;
    grid-column: 1 / -1;
  }
  .A_Logo {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    background-position: left bottom;
  }
}

@media (min-width: 900px) {
  .M_GalleryItem > .A_Button {
    display: none;
  }
}

@media (max-width: 900px) {
  .W_GalleryButton > .A_Button {
    display: none;
  }
  .A_Back.Articles {
    position: relative;
    left: unset;
    grid-column: 1 / -1;
  }
  .M_GalleryItem > .A_Button {
    grid-column: 1 / -1;
    margin-top: 40px;
  }
}

@media (min-width: 414px) {
  .A_MiniLogo {
    filter: none;
    opacity: 0.4;
    mix-blend-mode: normal;
  }
}

@media (max-width: 900px) and (min-width: 414px) {
  .O_PopUp > .A_Description,
  .C_PopUpMateirals > .A_Description {
    font-size: clamp(1.125rem, 0.8845rem + 0.9296vw, 2rem);
    line-height: clamp(1.3125rem, 1.0376rem + 1.0624vw, 2.3125rem);
  }

  .A_ArticlePreview {
    aspect-ratio: 1 / 1;
  }
  .A_VideoPreview {
    &.Tablet {
      display: block;
    }
  }
  .A_Description {
    display: flex;
    grid-column: 1 / 3;
  }
  .A_Paragraph,
  .A_NodeBox {
    grid-column: 3 / 20;
  }
  .A_Description {
    &.Right {
      grid-column: 6 / 20;
    }
  }
}

@media (max-width: 572px) {
  .O_Card > .A_Label {
    padding: 4px 8px;
  }
}

@media (min-width: 415px) {
  .SO_VideoPreview > .A_Button {
    display: none;
  }
  .SO_Article > .A_H2 {
    &.Mobile {
      display: none;
    }
  }
}

@media (max-width: 414px) {
  .A_Burger {
    display: block;
    justify-self: end;
    grid-column: 7;
  }

  .A_IndexTutorialIMG {
    &.Video {
      min-width: 260px;
    }
    &.Article {
      min-width: 200px;
      aspect-ratio: unset;
    }
  }
  .A_Redaction {
    width: calc(33.3% - 5px);
  }
  .A_NodeBox {
    padding: 8px;
    grid-column: 2 / 9;
  }
  .A_GalleryRedactionContainer {
    grid-column: 2 / -1;
  }
  .A_Paragraph {
    grid-column: 2 / -1;
    &.ArticleMain {
      grid-column: 1 / -1;
    }
  }

  .A_Description {
    &.Right {
      grid-column: 4 / -1;
    }
  }

  .W_ParagraphWithTitle > .A_H3 {
    grid-column: 1 / -1;
  }

  .M_ArticleStats > .A_Description,
  .O_PopUp > .A_Description,
  .C_PopUpMateirals > .A_Description {
    font-size: 16px;
    line-height: 18px;
  }
  .M_GalleryCard > .A_Label + .A_Label {
    padding-left: 20px;
  }
  .W_ArticleDemoText > .A_H2 {
    display: none;
  }
  .A_Logo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
}
