.M_GalleryCard {
  width: calc(50% - 6px);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  &.Hidden {
    display: none;
  }
}

.M_FooterSlogan {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}

.M_VideoPreview > .A_Label {
  grid-column: 1 / -1;
}

.M_VideoPreview {
  position: absolute;
  max-width: 400px;
  width: 40%;
  right: 40px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.M_IndexGallery {
  grid-column: 10 / 25;
  column-count: 4;
  gap: 8px;
  height: 100%;
  overflow: hidden;
}

.M_IndexSandBoxLang {
  grid-column: span 5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  aspect-ratio: 1;
}

.M_IndexGallery > .A_ArticlePreviewIMG {
  aspect-ratio: unset;
}

.M_VideoPreview > .A_VideoPreview {
  width: 70%;
}

.M_GalleryRecommendation {
  width: 100%;
  display: block;
  aspect-ratio: 1;
  mask-image: url('../../images/art-gallery/galleryItemMask.webp');
  mask-size: contain;
  mask-position: center;
  position: relative;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.M_GalleryRecommendation:hover::after {
  border: 4px solid var(--mainGreen);
  box-shadow: 0px 0px 112.2px 0px var(--mainGreen, #d1ff8c) inset;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
}

.M_GalleryItem {
  grid-row-start: 1;
  grid-column-start: 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-end: span 11;
}

.M_CategoryButton {
  flex-direction: column;
  display: flex;
  gap: 12px;
}

.M_Error {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--black);
}

.M_Label {
  display: flex;
}

.M_Paragraph {
  display: grid;
  grid-column: 1 / -1;
  gap: 12px;
  grid-template-columns: repeat(18, 1fr);
}

.M_IndexTutorial {
  position: relative;
}

.M_ArticleStats {
  grid-column: 16 / 19;
  position: relative;
  display: flex;
  padding-left: 60px;
  flex-direction: column;
  align-items: flex-start;
}

.M_InputDescription {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.M_ArticlePreviewLink {
  position: relative;
}

.M_ArticlePreviewLink:hover::after {
  border: 4px solid var(--mainGreen);
  box-shadow: 0px 0px 112.2px 0px var(--mainGreen, #d1ff8c) inset;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
}

.M_PopupOpenLine {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

@media (max-width: 1280px) {
  .M_FooterSlogan {
    grid-column: span 10;
  }
}

@media (max-width: 1000px) {
  .M_IndexGallery {
    grid-column: 2 / -1;
  }

  .M_VideoPreview {
    right: 16px;
  }
  .M_IndexSandBoxLang {
    grid-column: span 3;
  }
}
@media (max-width: 900px) {
  .M_GalleryItem {
    grid-column: 1 / -1;
    grid-row-start: 3;
  }
}

@media (max-width: 900px) and (min-width: 414px) {
  .Q_AvatarIMG {
    width: 35px;
    top: -30%;
  }
  .M_ArticleStats {
    padding-top: 20px;
    padding-left: 0px;
  }
  .W_ParagraphWithTitle > .M_Paragraph {
    grid-column: 1 / -1;
  }
  .M_Paragraph {
    grid-column: 5 / -1;
    grid-template-columns: repeat(19, 1fr);
  }
}

@media (max-width: 414px) {
  .M_GalleryCard {
    width: 100%;
  }

  .M_ArticleStats {
    grid-column: 1 / -1;
    grid-row-start: 1;
    height: 40px;
  }

  .M_IndexGallery {
    column-count: 3;
  }

  .M_Paragraph {
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
  }
  .M_FooterSlogan {
    grid-column: span 8;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
  }
}
