.M_GalleryCard {
  width: calc(50% - 6px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.M_FooterSlogan {
  width: 603px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

@media (max-width: 414px) {
  .M_GalleryCard {
    width: 100%;
  }
  .M_FooterSlogan {
    width: 100%;
    padding-top: 184px;
    align-items: center;
  }
}
