.W_MenuWithLogo {
  display: grid;
  grid-column-start: 1;
  grid-column-end: span 6;
  column-gap: 12px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: none;
  padding: 20px 0;
}

.W_Filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.W_GalleryText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.W_FooterSlogan {
  height: 100%;
  grid-column: span 10;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: end;
  gap: 12px;
  position: relative;
}

.W_FooterMenuTable {
  display: flex;
  grid-column: span 4;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.W_GalleryButton {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  gap: 20px;
}

.W_GalleryPreview {
  position: sticky;
  grid-column: 2 / 4;
  top: 60px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.W_Article {
  aspect-ratio: 18 / 9;
  background-color: grey;
}

.W_ArticleDemoText {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.W_ParagraphWithTitle {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(18, 1fr);
}

.W_VideoPreview {
  position: sticky;
  grid-column: 2 / 6;
  grid-row-start: 1;
  top: 44px;
  margin-top: 44px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1280px) {
  .W_GalleryButton {
    padding: 0;
  }
  .W_FooterSlogan {
    height: unset;
    align-content: center;
    grid-column: span 10;
  }
  .W_FooterMenuTable {
    grid-column: span 7;
  }
}

@media (max-width: 414px) {
  .W_MenuWithLogo {
    padding: 0;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .W_FooterSlogan {
    grid-column: span 8;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }
  .W_FooterMenuTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
