.W_MenuWithLogo {
  display: flex;
  gap: 37px;
  padding: 20px 0;
  align-items: center;
}

.W_Filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  left: 119px;
  &.Gallery {
    top: 138px;
  }
}

.W_FooterMenuTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

@media (max-width: 414px) {
  .W_MenuWithLogo {
    padding: 0;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .W_Filter {
    position: static;
    margin-bottom: 24px;
  }
}
