.O_Search.Base {
  display: flex;
  height: 38px;
  position: relative;
  width: 100%;
  grid-column-start: 7;
  grid-column-end: 25;
}
.O_Search::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 32px;
  left: 0;
  background-color: var(--color-black-40);
}

.O_NavBar {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  padding: 0px 42px 20px;
  gap: 12px;
  width: 100%;
  align-items: center;
  grid-column: 1 / -1;
}

.O_Footer.Light {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(24, 1fr);
  padding: 0px 42px 20px;
  height: 394px;
  /* padding: 0px 42px 64px 42px; */
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
  background-image: url('../../images/Q_FooterBack.png');
  background-repeat: no-repeat;
  background-position: bottom;
  grid-column: 1 / -1;
  background-size: 100% 100%;
}

.O_GalleryItemDescription {
  display: flex;
  flex-direction: column;
  position: sticky;
  grid-column: 17 / 25;
  top: 60px;
  height: max-content;
  gap: 40px;
}

.O_ArticleDemo {
  position: relative;
}

.O_Card {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1280px) {
  .O_Search.Base {
    grid-column-start: 17;
  }
  .O_Card {
    grid-column: 1 / -1;
    grid-column: span 6;
  }
}

@media (max-width: 980px) {
  .O_Card {
    grid-column: span 9;
  }
}

@media (max-width: 572px) {
  .O_Card {
    grid-column: 1 / -1;
  }
}

@media (max-width: 414px) {
  .O_Search.Base:before {
    top: 28px;
  }
  .O_NavBar {
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-direction: column;
  }
  .O_Footer.Light {
    grid-template-columns: repeat(8, 1fr);
    height: 444px;
    align-content: center;
    padding: 24px 16px;
    align-items: flex-start;
  }
  .O_Card {
    grid-column: 1 / -1;
  }
}
