#react-search-root {
  display: flex;
  height: 38px;
  position: relative;
  width: 100%;
  grid-column-start: 7;

  grid-column-end: 25;
  mix-blend-mode: difference;
}

.O_Search {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.O_NavBar {
  display: grid;
  gap: 16px;
  z-index: 3;
  grid-template-columns: repeat(24, 1fr);
  padding: 0px 42px 0px;
  position: fixed;
  gap: 12px;
  width: 100%;
  align-items: center;
  top: 0;
  grid-column: 1 / -1;
}

.O_IndexPreview {
  display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(24, 1fr);
  row-gap: 12px;
  column-gap: 40px;
  height: calc(100vh);
  padding: 0 42px;
  align-items: center;
  align-content: center;
}

.O_IndexSandbox,
.O_IndexCallToAction {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  padding: 0 42px;
}
.O_IndexCallToAction {
  grid-column: 1 / -1;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(24, 1fr);
}

.O_IndexCategory,
.O_IndexGallery,
.O_IndexSandBox {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.O_IndexCategory,
.O_IndexGallery {
  margin-bottom: 80px;
  padding: 0 42px;
}
.O_IndexSandbox {
  margin-bottom: 80px;
}

.O_PopUp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
  transform-origin: top;
  padding: 8px 8px 12px 8px;
  border-radius: 4px;

  &.Closed {
    padding: 8px;
  }
  &.TrueClosed {
    background-color: var(--color-black-08);
  }
  &.Mobile {
    background-color: unset;
    padding: 0px;
  }
}

.O_PopUp::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(223, 223, 223);
  width: 100%;
  z-index: -2;
  transform: scaleY(100%);
  transform-origin: top;
  pointer-events: none;
  transition-property: center, all;
  transition-duration: 0.4s, 0.4s;
  transition-delay: -0s;
}

.O_PopUp.Mobile::after {
  background-color: unset;
}

.O_PopUp.Closed::after {
  transform: scaleY(0%);
  transition-property: center, all;
  transition-duration: 0.6s, 0.6s;
  transition-delay: 0s;
}

.O_Footer.Light {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(24, 1fr);
  padding: 0px 42px 20px;
  height: 394px;
  /* padding: 0px 42px 64px 42px; */
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
  background-image: url('../../images/Q_FooterBack.png');
  background-repeat: no-repeat;
  background-position: bottom;
  grid-column: 1 / -1;
  background-size: 100% 100%;
}

.O_GalleryItemDescription {
  display: flex;
  flex-direction: column;
  position: sticky;
  grid-column: 17 / 25;
  top: 60px;
  height: max-content;
  gap: 40px;
}

.O_ArticleDemo {
  position: relative;
}

.O_Card {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  position: relative;
  &.Hidden {
    display: none;
  }
  min-width: 250px;
}

@media (max-width: 1280px) {
  .O_Search.Base {
    grid-column-start: 17;
  }
  .O_Card {
    grid-column: 1 / -1;
    grid-column: span 6;
  }
}

@media (max-width: 1000px) {
  .O_IndexCategory,
  .O_IndexGallery,
  .O_IndexSandbox,
  .O_IndexCallToAction {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 20px;
    padding: 0 16px;
  }
  .O_IndexPreview {
    padding: 0 16px;
  }
}

@media (max-width: 900px) and (min-width: 414px) {
  .O_ArticleDemo {
    flex-direction: column;
    display: flex;
    grid-column: 1 / -1;
    margin-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .O_Card {
    grid-column: span 9;
  }
  .O_NavBar {
    padding: 0px 16px 20px;
  }
  .O_Footer.Light {
    padding: 0px 16px 20px;
  }
  .O_GalleryItemDescription {
    grid-column: 1 / -1;
    grid-row-start: 2;
    position: relative;
    top: 0;
  }
}

@media (max-width: 572px) {
  .O_Card {
    grid-column: 1 / -1;
  }
}

@media (max-width: 414px) {
  .O_Search.Base {
    display: none;
    &.Active {
      display: block;
    }
  }
  .O_Search.Base:before {
    top: 28px;
  }
  .O_NavBar {
    mix-blend-mode: difference;
    display: flex;
    gap: 16px;
    padding: 16px;
    align-items: flex-start;
    flex-direction: column;
    &.Active {
      background: linear-gradient(180deg, var(--bgColor) 40%, transparent);
      mix-blend-mode: normal;
      padding-bottom: 180px;
    }
  }
  .O_Footer.Light {
    gap: 8px;
    row-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    height: 444px;
    align-content: center;
    padding: 24px 16px;
    align-items: flex-start;
  }
  .O_Card {
    grid-column: 1 / -1;
  }
}
