.O_Search.Base {
  padding-top: 10px;
  height: 38px;
  position: relative;
  width: 100%;
}
.O_Search::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 36px;
  left: 0;
  background-color: var(--color-black-40);
}

.O_NavBar {
  display: flex;
  padding: 0px 42px 20px 42px;
  align-items: center;
  gap: 167px;
}

.O_Footer.Light {
  display: flex;
  width: 100%;
  height: 394px;
  padding: 0px 42px 64px 42px;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url('../../images/Q_FooterBack.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}

@media (max-width: 414px) {
  .O_Search.Base:before {
    top: 28px;
  }
  .O_NavBar {
    gap: 16px;
    padding: 16px;
    flex-direction: column;
  }
  .O_Footer.Light {
    height: 444px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}
