.MO_GalleryCard,
.MO_ArticlesPreview {
  display: flex;
  flex-direction: column;
}

.MO_Article {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 12px; /* Gutter */
  grid-column: 1 / -1;
  padding: 0 42px; /* Left and right padding */
}
