@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/arialnarrow_bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/arialnarrow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
