:root {
  --greyTitle: #cccccc;
  --spacingBetweenSections: 2em;
  --secondMainColor: #cefd63;
  --thirdMainColor: #bcc9eb;
}
body {
  background-color: var(--greyTitle);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--greyTitle);
  padding: 1em 0.5em;
  h6 {
    font-size: 2em;
    font-family: 'Arial Narrow';
  }
  div {
    width: 40%;
    border: solid black 1px;
    padding: 0.25em 0.5em;
    background-color: white;
  }
}
.intro {
  display: flex;
  height: 80vh;
  padding-bottom: 5em;
  flex-direction: row-reverse;
  .lead {
    width: 70%;
    align-self: flex-end;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    h3 {
      width: 100%;
    }
  }
}
.infoAboutMedia {
  width: 30%;
  .learnAboutUs {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    div {
      align-self: center;
      &:first-of-type {
        align-self: flex-start;
      }
      &:last-of-type {
        align-self: flex-end;
      }
    }
  }
}

section {
  background-color: var(--greyTitle);
  margin: var(--spacingBetweenSections) 0;
}

h1 {
  font-size: 4em;
  font-family: 'Arial Narrow';
}

h3 {
  font-size: 3em;
  font-family: 'Arial Narrow';
}

.categories {
  display: flex;
  height: 60vh;
  margin-bottom: 0;
  .mainCategory {
    width: 33.3%;
    position: relative;
    &:nth-of-type(even) {
      background-color: var(--secondMainColor);
    }
    &:first-of-type {
      background: linear-gradient(
        270deg,
        var(--greyTitle) 40.4%,
        var(--secondMainColor) 53.01%,
        var(--greyTitle) 61.65%
      );
    }
    &:last-of-type {
      background-color: var(--thirdMainColor);
    }
    a {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    h2 {
      font-size: 3em;
      height: 70%;
      width: 60%;
      font-family: 'Arial Narrow';
    }
    p {
      font-size: 1em;
      font-family: 'Arial Narrow';
    }
    .button {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 4em;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.gatherEmails {
  margin-top: 0;
  padding: 10vh 0vh;
  background: linear-gradient(
    450deg,
    var(--greyTitle) 13%,
    var(--secondMainColor) 16%,
    var(--greyTitle) 60.65%
  );
}

.formCollector {
  display: flex;
  gap: 2em;
  form {
    display: flex;
    gap: 2em;
    input,
    button {
      background: none;
      border: none;
      color: black;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 4;
  justify-content: space-between;
  background-color: var(--greyTitle);
  padding: 1em 0.5em;
  div {
    display: flex;
    gap: 2em;
    font-family: 'Arial Narrow';
    justify-content: space-between;
    div {
      font-family: 'Arial Narrow';
    }
    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      font-size: 2em;
    }
  }
}
