@media (min-width: 1440px) {
  .mainArticleLead {
    width: 48vw;
  }
}

@media (max-width: 1440px) {
  .preview > .progressWarning {
    top: 10%;
  }
  .previewBody > div > .progressWarning,
  .preview > .namingLogo + div {
    display: none;
  }
  h5,
  p {
    font-size: 2vw;
  }
  .articlePreview {
    width: 14vw;
  }
  .namingLogo {
    font-size: 14vw;
  }
  .detailsBox {
    width: 20vw;
  }
  .labels,
  .detailsBox > span {
    font-size: 1.2vw;
  }
  h3 + p {
    width: 60vw;
  }
  .text,
  input,
  button {
    font-size: 4vw;
  }
  .progressWarning,
  footer > div,
  footer > div > div {
    font-size: 3vw;
  }
  .flexWe {
    gap: 1vw;
    flex-direction: column;
  }
  .aboutUsBody {
    padding-top: 4vw;
  }
  .upperLines,
  .lowerLines {
    width: 200%;
    margin-left: -50%;
    filter: blur(3px);
  }
  .line,
  .mainLines,
  .backLineGradient {
    filter: blur(3px);
  }
  .loveExperiment {
    top: 100vw;
  }

  .aboutUs {
    top: 90vw;
  }
  .infoPage {
    flex-direction: column;
    width: 60vw;
    margin-bottom: 50vw;
  }
  .infoBox {
    align-items: flex-end;
    width: 100%;
  }
  .infoBox > p {
    width: 50%;
    font-size: 3vw;
  }
  .infoBox > div {
    align-items: center;
  }

  .formCollector {
    top: 120vw;
    left: 25vw;
  }
  .readArticleText {
    top: 160vw;
    left: 25vw;
  }

  .banana,
  .qrCode {
    width: 13vw;
  }
  .text > span,
  form > span,
  button,
  input {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 850px) and (orientation: landscape) {
  .upperLines,
  .lowerLines,
  .line,
  .mainLines,
  .backLineGradient {
    filter: blur(2px);
  }

  .detailsBox {
    width: 25vw;
  }
}
@media (max-width: 850px) {
  h2 {
    font-size: 9vw;
  }
  .detailsBox {
    width: 40vw;
  }
  .labels,
  .detailsBox > span {
    font-size: 2.5vw;
  }
  h3 + p {
    font-size: 3vw;
  }
  h5,
  p {
    font-size: 3vw;
  }
  .articlePreview {
    width: 22vw;
  }
  .mainArticleLead {
    width: 60vw;
    margin-bottom: 8vw;
  }
  h3 {
    font-size: 4vw;
  }
  h3 + .detailsBox,
  h3 + p {
    margin-top: 5vw;
    margin-bottom: 8vw;
  }
}
@media (max-width: 400px) {
  .upperLines,
  .lowerLines {
    width: 200%;
    margin-left: -50%;
    filter: blur(2px);
  }
  .line,
  .backLineGradient {
    filter: blur(2px);
  }
  .infoPage {
    margin-bottom: 55vw;
  }
  .text > span,
  form > span,
  button,
  input {
    box-shadow: 0px -0.5px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .text,
  input,
  button {
    font-size: 5vw;
  }
  .formCollector {
    width: 80%;
    left: 10%;
  }
}
